.login-form {
  width: 250px;
  /* border: 1px solid black; */
  text-align: center;
  margin: 100px auto;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

h1 {
  font-family: "Bebas Neue", sans-serif;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 0.5px solid gray;
}

button {
  width: 70%;
  padding: 10px;
  background-color: black;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  border: none;
}

.light-color-select {
  color: lightgray;
}
.dark-color-select {
  color: darkgray;
}

h5 {
  margin-top: -20px;
}
